.progress-bar {
	-fx-background-images: url("../resources/icons/Transaction-History.png");
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
    -fx-background-radius: 10;
    -fx-indent: 0px;
    -fx-arc-height: 10;
    -fx-background-image: url("..src/resources/icons/Transaction-History.png");
}

.progress-bar{
	-fx-background-color: transparent ;
	-fx-border-radius: 10px;
}